version: "2"
services:
  nginx-react:
    container_name: weeklyreportui
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 80:80
    environment:
      NODE_ENV: production
    networks:
      - front
networks:
  front:
    external:
      name: cmweeklyteamreport_front