aside {
  min-width: $aside-width;
  max-width: $aside-width;
  background-color: $aside-bg;
}
.marked {
  color: #ffcd39 !important;
}
.nav-pills {
  .nav-link {
    padding: $nav-pills-padding-y $nav-pills-padding-x;
    cursor: pointer;
    & svg {
      margin-right: 10px;
    }
    &.active {
      font-weight: $nav-pills-link-active-font-weight;
    }
  }
}
