form {
  .card-title {
    margin-bottom: 1rem !important;
  }

  .form-control {
    font-size: 0.9rem;
    margin: auto;
  }

  .btn {
    font-weight: bold;
    padding-bottom: 0.5rem;
  }

  .form-group {
    .form-label {
      margin-bottom: 0.2rem;
      font-weight: bold;
    }

    input {
      border-top-style: solid;
      border-left-style: solid;
    }
  }

  .form-group:not(:last-child) {
    margin-bottom: 1rem;
  }
}
