.team-members {
  .list-group-item + .list-group-item {
    border-top-width: 1px;
  }
  .short-line {
    border-bottom: solid 5px #FCD214;
    width: 35px;
  }
  .round {
    outline: solid 3px white;
    background-color: #D5D9DB;
    width: 60px;
    height: 60px;
    font-size: 20px;
    color: #323a3d;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul {
    li {
      cursor: pointer;
      font-weight: 600;
    }
  }
}



