.btnActive {
  border: solid 2px #fcd214 !important;
  box-shadow: none !important;
}

.btnDisable {
  color: gray;
  box-shadow: none !important;
}

.name-team-report {
  text-align: left !important;
}

.expand-all {
  margin-top: -34px;
}
.color-gray {
  color: #87898b;
}

header {
  .behind {
    margin-right: -7px;
  }
  .round-yellow {
    background-color: #fcd214 !important;
  }

  .round {
    outline: solid 3px white;
    background-color: #d5d9db;
    width: 60px;
    height: 60px;
    font-size: 20px;
    color: #323a3d;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.round {
  outline: solid 3px white;
  background-color: #d5d9db;
  width: 60px;
  height: 60px;
  font-size: 20px;
  color: #323a3d;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
