.btnActive {
  border: solid 2px #FCD214!important;
  box-shadow: none!important;
}

.btnDisable {
  color: gray;
  box-shadow: none!important;

}

.name-team-report {
  text-align: left!important;
}

.expand-all {
  margin-top: -34px;
}
.color-gray {
  color: #87898b;
}

header {
  .behind{
    margin-right: -7px;
  }
  .round-yellow {
    background-color: #FCD214 !important
  }

  .round {
    outline: solid 3px white;
    background-color: #D5D9DB;
    width: 60px;
    height: 60px;
    font-size: 20px;
    color: #323a3d;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
